@model Project4.Card

	<td class="col-md-2" style="width: 50%; padding: 10px;">
		@Model.CardFront
	</td>
	<td class="col-md-10" style="width: 50%; padding: 10px;">
		@Model.CardBack
	</td>
	<td class="col-md-1">
		0
	</td>