@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FLASH CARD O-RAMA</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Decks</h2>
        <p>
            View deck manager and search decks
        </p>
        <p><a class="btn btn-default" href="Decks/Index.cshtml">Go &raquo;</a></p>
    </div>

</div>